extends layout

block content
  .container
    .row
      .col.s12.center
        .splash-container
          img(data-caption='Welcome to Living with Value' width='70%', src='img/splash.jpg')

    .row
      .col.s12.m6
        .splash-container
          p.center.black-text Hello World. Filter lungo bar extraction in organic single origin and dripper. Cinnamon sit id, espresso single origin chicory macchiato seasonal. Carajillo percolator cappuccino, at cup fair trade affogato café au lait.
          p.center.black-text Fair trade single origin brewed extraction carajillo cappuccino irish. Froth, flavour blue mountain, and medium et wings single shot. Carajillo, affogato foam, ut seasonal viennese, aromatic roast macchiato shop et irish.

      .col.s12.m6
        .splash-text
          p.center.black-text Hello World. Filter lungo bar extraction in organic single origin and dripper. Cinnamon sit id, espresso single origin chicory macchiato seasonal. Carajillo percolator cappuccino, at cup fair trade affogato café au lait.
          p.center.black-text Fair trade single origin brewed extraction carajillo cappuccino irish. Froth, flavour blue mountain, and medium et wings single shot. Carajillo, affogato foam, ut seasonal viennese, aromatic roast macchiato shop et irish.
